/* mobile.css */

/* Styles généraux pour les appareils mobiles */
@media (max-width: 48rem) {
  body {
    flex-direction: column;
    padding: 0.625rem;
    border: none;
  }

  main {
    max-width: 100%;
    box-shadow: none;
  }

  header.profile {
    margin-top: 1.25rem;
  }

  .profile__photo {
    width: 6.25rem;
    height: 6.25rem;
  }

  .profile__contact-info {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.625rem 1.25rem;
  }

  .profile__contact-info a {
    margin: 0.3125rem 0;
  }

  .content {
    flex-direction: column;
  }

  .content__left,
  .content__right {
    width: 100%;
    margin: 0;
    padding: 0.625rem;
  }

  .content__left {
    margin-bottom: 1.25rem;
  }

  .content__right {
    border: none;
    background-color: var(--color-white);
  }

  .content__left h3,
  .content__right h3 {
    margin: 1.25rem 0 0.625rem 0;
  }

  .footer__social-media a {
    margin: 0.625rem 0.625rem;
    font-size: 2rem;
  }
}
